.idea
.vscode
.bundle

node_modules
build
dist

.DS_Store

*.log

.env*.local
/server-api/.env
db/*.sqlite3
db/*.sqlite3-*
server-api/log/*
server-api/tmp/*
!server-api/log/.keep
!server-api/tmp/.keep
server-api/tmp/pids/*
!server-api/tmp/pids/
!server-api/tmp/pids/.keep
server-api/storage/*
!server-api/storage/.keep
server-api/.byebug_history
server-api/config/master.key
